<header>
  <nav class="header-botton theme1 d-none d-lg-block">
    <div class="container">
      <div class="row align-items-center">
        <div
          class="
            col-lg-10
            offset-lg-2
            d-flex
            flex-wrap
            align-items-center
            position-relative
          "
        >
          <ul class="main-menu d-flex">
            <li routerLink="active"><a routerLink="/home">Home</a></li>
            <li routerLink="active"><a routerLink="/shop">Shop</a></li>
            <li routerLink="active"><a routerLink="/category">Category</a></li>
            <li routerLink="active"><a routerLink="/contact">Contact</a></li>
            <li routerLink="active"><a routerLink="/login">Login</a></li>
            <li routerLink="active"><a routerLink="/register">Register</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>
